.todo-card {
  padding: 8px;
  width: 420px;
  height: 420px;
  overflow-y: auto;
}

.title-container {
  display: flex;
  align-items: center;
  gap: 20px;
  vertical-align: middle;
  height: 48px;
}

.title-input {
  height: inherit;
  border: none;
  outline: none;
  padding: 0;
  padding-bottom: 19px;
  margin: 0;
  font-weight: 500;
}

.title-text {
  height: inherit;
  border: none;
  outline: none;
  padding: 0;
  margin: 0;
  cursor: text;
  font-weight: 500;
}

.title-placeholder {
  color: #868686;
  font-weight: 500;
}

.todo-item-wrapper {
  align-items: center;
  flex-wrap: wrap;
  width: 320px;
  padding: 8px 0;
  margin: 2px 0;
}